body {
	margin-top: 50px;
	font-family: Arial;
}
h2 { font-size: 20px; color: #999; padding: .5em 0;}
h3 { font-size: 14px; }

/* Structure
------------------------------------------*/
#coolMenu,
#coolMenu ul {
	list-style: none;
}
#coolMenu {
	float: left;
}
#coolMenu > li {
	float: left;
}
#coolMenu li a {
	display: block;
	height: 2em;
	line-height: 2em;
	padding: 0 1.5em;
	text-decoration: none;
}
#coolMenu ul {
	position: absolute;
	display: none;
	z-index: 999;
}
#coolMenu ul li a {
	width: 80px;
}
#coolMenu li:hover ul.noJS {
	display: block; 
}


/* Main menu
------------------------------------------*/
#coolMenu {
/*	font-family: Arial;
	font-size: 12px;
	background: white;
        padding-top: 17px;
padding-left: 150px;*/
	height:41px;
	width:835px;
	float:left;



}
#coolMenu > li > a {
/*	color: #616161;
	font-weight: bold;*/
        
        background:url(images/bg-li.jpg) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#e5e5e5;
	padding:0 15px;
	line-height:38px;
	text-shadow: 1px 1px 1px #000;
	list-style:none;
	float:left;
        
        
        
        
}
#coolMenu > li:hover > a {
	color:#e5e5e5;
	color: #000;
}


/* Submenu
------------------------------------------*/
#coolMenu ul {
/*	background: white;
        color: #616161;
        font-weight: bold;*/
	margin:0px;
	padding:0;
	float:left;
}
#coolMenu ul li a {
	color: #000;
}
#coolMenu ul li:hover a {
	background: #d4d4d4;
}