@charset "utf-8";
/* CSS Document */

body {
	background:url(images/bg-head.jpg) repeat-x;
	background-color:#ededed;
	margin:0 auto;
}
#container {
	margin:0 auto;
	width:1003px;
}
#header {
	height:142px;
	float:left;
}
#logo {
	margin: 9px 2px 16px -16px;
	width:260px;
	height:33px;
	float:left;
}
#nav-maine {
	float:left;
	height:74px;
	margin-top:5px;
}
#nav-top {
	height:33px;
	width:835px;
	float:left;
}

#hover {
height:31px;
z-index:-1px;


}

#hover .left-part {
background:url(images/left-part.png) no-repeat;
height:31px;
width:5px;
float:left

}

#hover .middle-part {
background:url(images/middle-part.png) repeat-x;

height:31px;
width:50px;

float:left
}



#hover .right-part {
background:url(images/right-part.png) no-repeat;
height:31px;
width:5px;
float:left

}


#nav-top ul {
	margin:0;
	padding:0;
	float:left;
}
#nav-top ul li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	float:left;
	padding:0 15px;
	color:#e5e5e5;
	list-style:none;
	line-height:38px;
}
#nav-top ul .fresh {
	background:none;
	padding:0 15px 0 0;
}
#nav-under {
	height:41px;
	width:835px;
	float:left;
}
#nav-under ul {
	margin: -45px;
	padding:0;
	float:left;
}
#nav-under ul li {
	background:url(images/bg-li.jpg) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#e5e5e5;
	padding:0 15px;
	line-height:38px;
	text-shadow: 1px 1px 1px #000;
	list-style:none;
	float:left;
        padding-top: 36px;
}
#nav-under ul .fresh {
	background:none;
	padding:0 15px 0 0;
}
.clear {
	clear:both
}
#header-left {
	width:835px;
	height:144px;
	float:left;
}
#profile {
	float: right;
	width:167px;
	height:56px;
	margin-top:27px;
}
#profile .but {
	background:url(images/img-profile-but.png) no-repeat;
	width:170px;
	height:26px;
}

#profile .but a {
font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#808080;
	text-decoration:none;

}

#profile .but a:hover {
font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#999999;
	text-decoration:none;

}

#profile h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#e7e7e7;
}
#profile .but ul {
	margin:0 23px;
	padding:0px;
}
#profile .but ul li {
	list-style:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#808080;
	line-height:22px;
	float:left;
	padding:0 13px;
}
#wrap {
	width:1003px;
	height:15px;
	margin-top:40px;
}
#left-bar {
	width:211px;
	float:left;
	background-color:#FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 5px 5px #ccc;
	-webkit-box-shadow: 0px 5px 5px #ccc;
	box-shadow: 0px 4px 4px #ccc;
}
#left-bar h2 {
	background:url(images/slider-normel.png) no-repeat;
	width:214px;
	height:39px;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#787878;
	line-height:35px;
	padding-left:19px;
}
#left-bar .text {
	width:177px;
	margin:26px 0px 0 25px;
	float:left;
}
#left-bar .text ul {
	margin:0px;
	padding:0px;
}
#left-bar .text ul li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	background:url(images/bg-li-leftbar.png) no-repeat;
	list-style:none;
	line-height:12px;
	padding:0 0px 15px 10px;
}
#slider02 {
	width:214px;
	height:39px;
}
#content {
	float:right;
	width:769px;
        height:auto;
}
#dashbord-top {
	float:right;
	background-color:#FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 5px 5px #ccc;
	-webkit-box-shadow: 0px 5px 5px #ccc;
	box-shadow: 0px 4px 4px #ccc;
	float:left;
	width:769px;
	height:auto;
}
#dashbord-top h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#FFFFFF;
	padding-left:20px;
	line-height:36px;
        background:#76a420;
	height:38px;
	margin:0px;
}
#dashbord-top .conte {
	width:770px;
	height:auto;
	float:left;
	float:left;
}
#dashbord-top .thump-01 {
	width:120px;
	height:120px;
	background:url(images/bg-dash-thump.png) no-repeat;
	margin:16px;
	float:left
}
#dashbord-top .thump-01 .icon {
	width:52px;
	height:50px;
	float:left;
	margin: 18px 32px;
}
#dashbord-top .thump-01 .text {
	width:89px;
	height:29px;
	float:left;
	margin-left:15px;
}
#dashbord-top .thump-01 .text p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	margin:0
}
#dashbord-top .thump-02 {
	width:120px;
	height:120px;
	background:url(images/bg-dash-thump.png) no-repeat;
	margin:16px;
	float:left
}
#dashbord-top .thump-02 .icon {
	width:52px;
	height:50px;
	float:left;
	margin: 18px 32px;
}
#dashbord-top .thump-02 .text {
	width:89px;
	height:29px;
	float:left;
	margin-left:15px;
}
#dashbord-top .thump-02 .text p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	margin:0
}
#dashbord-top .thump-03 {
	width:120px;
	height:120px;
	background:url(images/bg-dash-thump.png) no-repeat;
	margin:16px;
	float:left
}
#dashbord-top .thump-03 .icon {
	width:52px;
	height:50px;
	float:left;
	margin: 18px 32px;
}
#dashbord-top .thump-03 .text {
	width:89px;
	height:29px;
	float:left;
	margin-left:15px;
}
#dashbord-top .thump-03 .text p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	margin:0
}
#dashbord-top .thump-04 {
	width:120px;
	height:120px;
	background:url(images/bg-dash-thump.png) no-repeat;
	margin:16px;
	float:left
}
#dashbord-top .thump-04 .icon {
	width:52px;
	height:50px;
	float:left;
	margin: 18px 32px;
}
#dashbord-top .thump-04 .text {
	width:89px;
	height:29px;
	float:left;
	margin-left:15px;
}
#dashbord-top .thump-04 .text p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	margin:0
}
#dashbord-top .thump-05 {
	width:120px;
	height:120px;
	background:url(images/bg-dash-thump.png) no-repeat;
	margin:16px;
	float:left
}
#dashbord-top .thump-05 .icon {
	width:52px;
	height:50px;
	float:left;
	margin: 18px 32px;
}
#dashbord-top .thump-05 .text {
	width:89px;
	height:29px;
	float:left;
	margin-left:15px;
}
#dashbord-top .thump-05 .text p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	margin:0
}
#dashbord-top .thump-06 {
	width:120px;
	height:120px;
	background:url(images/bg-dash-thump.png) no-repeat;
	margin:16px;
	float:left
}
#dashbord-top .thump-06 .icon {
	width:52px;
	height:50px;
	float:left;
	margin: 18px 32px;
}
#dashbord-top .thump-06 .text {
	width:89px;
	height:29px;
	float:left;
	margin-left:15px;
}
#dashbord-top .thump-06 .text p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	margin:0
}
#dashbord-top .thump-07 {
	width:120px;
	height:120px;
	background:url(images/bg-dash-thump.png) no-repeat;
	margin:16px;
	float:left
}
#dashbord-top .thump-07 .icon {
	width:52px;
	height:50px;
	float:left;
	margin: 18px 32px;
}
#dashbord-top .thump-07 .text {
	width:89px;
	height:29px;
	float:left;
	margin-left:15px;
}
#dashbord-top .thump-07 .text p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	margin:0
}
#dashbord-top .thump-08 {
	width:120px;
	height:120px;
	background:url(images/bg-dash-thump.png) no-repeat;
	margin:16px;
	float:left
}
#dashbord-top .thump-08 .icon {
	width:52px;
	height:50px;
	float:left;
	margin: 18px 32px;
}
#dashbord-top .thump-08 .text {
	width:89px;
	height:29px;
	float:left;
	margin-left:15px;
}
#dashbord-top .thump-08 .text p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	margin:0
}
#dashbord-top .thump-09 {
	width:120px;
	height:120px;
	background:url(images/bg-dash-thump.png) no-repeat;
	margin:16px;
	float:left
}
#dashbord-top .thump-09 .icon {
	width:52px;
	height:50px;
	float:left;
	margin: 18px 32px;
}
#dashbord-top .thump-09 .text {
	width:89px;
	height:29px;
	float:left;
	margin-left:15px;
}
#dashbord-top .thump-09 .text p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	margin:0
}
#dashbord-top .thump-10 {
	width:120px;
	height:120px;
	background:url(images/bg-dash-thump.png) no-repeat;
	margin:16px;
	float:left
}
#dashbord-top .thump-10 .icon {
	width:52px;
	height:50px;
	float:left;
	margin: 18px 32px;
}
#dashbord-top .thump-10 .text {
	width:89px;
	height:29px;
	float:left;
	margin-left:15px;
}
#dashbord-top .thump-10 .text p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	margin:0
            
}
#dashbord-und {
	float:right;
	width:769px;
	margin-top:30px;
}
#dashbord-und .tab-head {
	width:670px;
	height:39px;
	float:left;
}
#dashbord-und .tab-content {
	float:right;
	background-color:#FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 5px 5px #ccc;
	-webkit-box-shadow: 0px 5px 5px #ccc;
	box-shadow: 0px 4px 4px #ccc;
	float:left;
	width:770px;
	height:auto;
	
}


#dashbord-und .viewall {
float:left;
width:98px;
height:29px;
background:url(images/but-viewall.png) no-repeat;

}

#dashbord-und .viewall h3 {



margin:0;


}

#dashbord-und .viewall h3 a {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#666666;
padding:0 0 0 29px;
line-height:26px;
margin:0;
text-decoration:none;


}


#dashbord-und .tab-content tr td {
border:#dfdfdf 1px solid;
height:35px;
border-bottom:#dfdfdf 1px solid;
border-collapse:collapse;

}



#dashbord-und .tab-head .dash01 {
	width:123px;
	height:37px;
	float:left;
	background:url(images/but-dash.png) no-repeat;
}
#dashbord-und .tab-head .dash01 h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:14px;
	padding-left:10px;
	color:#20282b;
}
#footer {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;

background:url(images/bg-footer.png) no-repeat;
width:1003px;
height:65px;
padding-left:25px;
line-height:28px;
float:left;
margin-top:30px;

}

#footer .powerd-by {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#76a420;


}
#table{width:100%;border:1px solid #c3c3c3;}
#table th{background:#eee;padding:5px;text-align:left;}
#table td{padding:5px;}
table
{
border: 1px solid #999;
border-collapse: collapse;
width: 100%;
}
table tr th
{
font-weight: bold;
line-height: 24px;
font-size: 15px;
background-color: #EEE;
}
table tr td
{
line-height: 22px;
font-size: 13px;
}
table tr td, table tr th
{
padding: 3px 5px;
border-collapse: collapse;
border: 1px solid #999;
}
#idnoborder
{
border: 0 none;
}
#idnoborder tr td, #idnoborder tr th
{
border: 0 none;
}
a{
text-decoration: inherit;
color: inherit;
}
#content
{
padding: 5px;
background: white;
border: 1px solid silver;
border-radius: 8px;
-moz-border-radius: 8px;
float: right;
border-radius: 5px;
-moz-box-shadow: 0px 5px 5px #ccc;
-webkit-box-shadow: 0px 5px 5px #ccc;
box-shadow: 0px 4px 4px #ccc;
}
.inner-content
{
margin: 20px 10px;
float: left;
font-family: arial, tahoma, serif;
font-size: 13px;
width: 97%;

}
.field{
    padding: 7px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.field:focus,
.field.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
label{
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding-right: 10px;
    
}
select{
    width:195px ;
    
    padding:2px;
    font-size:13px;
	color:#666;
	margin-right:5px;
}

.inner-content h3{
font-size: 16px;
color: #787878;
margin-top: 20px;
}
#dashbord-top h2 .dash-downarrow
{
background: url('images/downarrow.png') no-repeat;
float: right;
width: 24px;
height: 24px;
margin-top: 7px;
margin-right: 30px;
}
#dashbord-top h2 .dash-uparrow
{
background: url('images/uparrow.png') no-repeat;
float: right;
width: 24px;
height: 24px;
margin-top: 7px;
margin-right: 30px;
}
#content a
{
color: #76a420;
}